{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="gallery" class="pt-5 mb-4">
        <h2 class="gallery_title">
            КАТАЛОГ
            <span>
                Каталог
            </span>
        </h2>
    </section>
    <section id="gallery_filter">
        <div class="gallery_toggle_block_for_filter">
            <div class="gallery_catalog_white_top_line"><img src="{% static 'img/Полоска.png' %}"></div>
            <h2 class="gallery_filter_title">
                ФИЛЬТР
            </h2>
            <img class="gallery_filter_img" src="{% static 'img/filter-icon.png' %}">
        </div>
        <div class="gallery_block_for_filter">
            <form class="text-lg-left mt-2" id="gallery_filter_form" method="get"
                  action="{% url 'gallery_update_content' %}">
                <div class="container-fluid">
                    <div class="row">
                        {% for filter in filter_form %}
                            <div class="col-md-3">
                                <p class="gallery_filter_title_for_list">{{ filter.help_text }}</p>
                                <div class="gallery_items_in_scroll_filter_menu">
                                    {{ filter }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <div class="mt-5 mb-3 gallery_filter_cost_block">
                                <p class="gallery_filter_cost_block_title">Цена</p>
                                {{ search_cost_form.cost_range }}
                            </div>
                            <div class="mt-2 gallery_filter_search_block">
                                {{ search_cost_form.search }}
                            </div>
                        </div>
                        <div class="col-md-12 mt-4 mb-3">
                            <label id="gallery_filter_submit" for="gallery_filter_submit_input">Применить</label>
                            <input type="submit" id="gallery_filter_submit_input" style="display: none;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="container-fluid" id="gallery_card_block">
        <div class="row">
            {% for product in product_list|slice:":12" %}
                {% include 'home/gallery_product.html' %}
            {% endfor %}
        </div>
        <div class="w-10 text-center">
            <button class="gallery_download_new_cards" type="submit" data-form="#gallery_filter_form">Показать еще</button>
        </div>
    </div>
{% endblock %}