{% load static %}
<section id="home_about" class="p-5 text-center" style="background-color: black;">
        <img src="{% static 'img/IMG_4044.jpg' %}" style="
    height: 175px;
    text-align: center;
    border-radius: 50%;">
        <div class="text-justify ">
        <p>
            Мы на рынке более 20 лет. Довольные покупатели, разнообразный ассортимент, оригинальная и качественная
            продукция. </p>
        <p>
            Наше главное отличие от других магазинов парфюмерии – винтаж, лимитированные и редкие ароматы. Мы всегда в
            поисках интересных позиций. Коллекция нашего магазина постоянно меняется, пополняется новыми поступлениями.
        </p>
        <p>
            Также, мы принимаем заказы на интересующие вас ароматы. Для этого вы можете написать нам в социальных сетях
            или позвонить, чтобы уточнить цену и заказать товар. Заказ можно забрать в любое удобное для вас время. Мы
            работаем ежедневно с 11:00-20:00 без выходных. Оплата производится в магазине.
        </p>
    </div>
</section>