@font-face {
  font-family: 'Noteworthy-Light';
  src: url('Noteworthy-Light.eot');
  src: url('Noteworthy-Light.eot?#iefix') format('embedded-opentype'),
       url('Noteworthy-Light.svg#Noteworthy-Light') format('svg'),
       url('Noteworthy-Light.ttf') format('truetype'),
       url('Noteworthy-Light.woff') format('woff'),
       url('Noteworthy-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Ritalin';
    src: url('Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'segoe';
    src: url('segoe script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothic';
    src: url('centry gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'antiqua';
    src: url('Book Antiqua.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
