{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="product">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-md-5 pt-4">
                {% if product.productimage_set.all.count == 0 %}
                                    <img src="{% static 'img/No_foto.png'%}" alt="" class="img-fluid w-50">
                {% elif product.productimage_set.all.count == 1 %}
                    <img src="{% get_media_prefix %}{{product.productimage_set.first}}" alt="" class="product_image_in_block product_selected_image">
                {% else %}
                    <ul class="product_block_for_images text-center">
                        <div class="product_slide_image_left"></div>
                        {% for image in product.productimage_set.all %}
                            <li class="{% if forloop.first %}product_selected_image{% endif %}">
                                <img src="{% get_media_prefix %}{{image}}" alt="" class="product_image_in_block">
                                <div class="product_circle_block"></div>
                            </li>
                        {% endfor %}
                    <div class="product_slide_image_right"></div>
                    </ul>
                    <ul class="product_clickable_images">
                        {% for image in product.productimage_set.all %}
                            <li class="{% if forloop.first %}product_selected_icon{% endif %}">
                                <img src="{% get_media_prefix %}{{image}}" alt="" class="product_clickable_image">
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                </div>
                <div class="col-md-7 text-left pt-3">
                    <p class="product_title">{{ product.name }}
                    </p>
                    <p class="product_title_maker">{{ product.maker }}</p>
                    <p class="product_cost">{{ product.cost }} рублей</p>
                    <p class="product_volume mb-5">
                    Доступные объемы: <br>
                    {% for item in product.volume.all %}
                        <span>{{ item }} мл; </span>
                    {% endfor %}
                    </p>
                    <p class="product_description">Производитель: {{ product.maker }}</p>
                    <p class="product_description">Страна: {{ product.country }}</p>
                    <p class="product_description">Год создания: {{ product.year_of_release }}</p>
                    <p class="product_description">Пол: {{ product.sex }}</p>
                    <p class="product_description">Семейство ароматов: {% for fragrance in product.fragrance_family.all %}{{ fragrance }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    <p class="product_description">Концентрация: {{ product.concentration }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
