/* navbar */
.inst{
    cursor: pointer;
}
.copy{
    opacity: 0.6;
    cursor: pointer;
}
.copy:hover, .copy:active{
    opacity: 0.3;
    cursor: pointer !important;
}
.copyBlock{
    position: absolute;
    bottom: 15px;
    right: 0px;
    opacity: 0;
}
.badge1 {
    cursor: pointer !important;
    font-family:'Ritalin';
    font-size: 22pt;
    color: #70919f;
}
.rightNav {
    font-size: 15pt;
}
.imgNav{
    max-height: 24px;
}
.sendMe{
    border-radius: 7px;
    background: lightblue;
    width: 200px;
    margin-left: 12rem;
}
.navbarli{
    padding-left: 0;
    border-radius: 7px;
    background: lightblue;
    width: 550px;
}
.navbarli li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.mynavbar {
    margin-left: 8vw;
    margin-right: 72px;
}
.form-inline .shire {
    text-align: left;
    background-repeat: no-repeat;
    width: calc(100vw - 550px);
}
h3{
    font-size: 16pt;
}
h6{
    font-size: 10pt;
    font-weight: normal;
}
ul {
    list-style: none;
}

/* конец navbar */
/* слайдер */
header{
    height: 624px;
}
ul li {
    display: inline;
}
.slider {
    position:relative;
    overflow: hidden;
    /*height: 600px;*/
    width: 80vw;
}
.sliderBlock {
    cursor: pointer !important;
    opacity: .6;
    width:100px;
    height:3px;
    background-color: gray;
    display: inline-block;
}
.showBlock {
    opacity: 1 !important;
}
.image {
    left: 80vw;
    position: absolute;
    /*width: 60vw;*/
    /*height: 600px;*/
    width: 80vw;
    height: auto;
}
.showImage{
    left:0;
    z-index: 3;
}
.sliderBlockList {
    text-align: center;

}
.sliderBlockList li {
    display: inline; /* Отображать как строчный элемент */
}

.leftButton, .rightButton{
    cursor: pointer !important;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
    top: 282.5px;
    z-index: 500;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: .8;
}
.rightButton{
    background: url(../img/rightbutton.png);
    background-size: contain;
    right:1vw;
}
.leftButton:hover, .rightButton:hover {
    opacity: .4;
}
.leftButton:active, .rightButton:active {
    opacity: .3;
}
.leftButton {
    background: url(../img/leftbutton.png);
    background-size: contain;
    left: 1vw;
}
/*Конец Слайдера */
/* секция карточек */
.galleryCard{
    width: 50px;
}

.productCard{
    display: contents;
    width: 50px;
}
.cardforproduct:hover, .cardforproduct:focus {
    box-shadow: 0 0 3px #5a6268;
}
.cardforproduct {
    border: none;
    width: 200px;
}
.cardforproduct h1{
    font-size: 14pt;
}
.cardforproduct .card-text{
    font-size: 10pt;
}
.cardforproduct h2{
    font-size: 12pt;
}
.btn-for-product {
    position: absolute;
    bottom: 10px;
    left:74px;
}
.img-card{
    max-width: 200px;
}
/* конец секции карточек */

/*Секция подвала*/

.myFooter {
    font-size: 10pt;
}
.myFooter ul li:first-child {
    color:violet;
}
.myFooter ul li h4 {
    font-size: 14pt;
    display: inline;
}
.myFooter ul li h6 {
    font-size: 10pt;
    display: inline;
    font-weight: normal;
}
/*Конец секции подвала*/
.blaack{
    background-color: black;
}
.rowCard{
    height: 500px;
    width: 1077px;
    overflow: hidden;
    position: relative;
}
.SliderCard{
    position: absolute;
    display: flex;
    left: 73vw;

}
.showCard{
    position: absolute;
    display: flex;
    left: 0;
}
.leftSlideCard, .rightSlideCard{
    cursor: pointer !important;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
    top: 135px;
    z-index: 500;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: .8;
}
.leftSlideCard{
    background: url(../img/leftbutton.png);
    background-size: contain;
    left:16vw;
}
.rightSlideCard{
    background: url(../img/rightbutton.png);
    background-size: contain;
    right:13vw;
}
.rightSlideCard:hover, .leftSlideCard:hover {
    opacity: .4;
}
.leftSlideCard:active, .rightSlideCard:active {
    opacity: .3;
}
.texxxt {
    font-family: "Noteworthy-Light";
    font-size: 16pt;
}
#foot{
    background-color: #212121;
    height: 120px;
}
.imgFot20{
    max-height: 20px;
}
.lol {
    font-size: 12pt;
}
.lol1 {
    font-size: 14pt;
}
@media (max-width: 1102px) {
    .lol{
        font-size: 10pt;
    }
    .lol1{
        font-size: 12pt;
    }
}
@media (max-width: 868px) {
    .lol{
        font-size: 8pt;
    }
}
.text-footer{
    color: rgb(180,180,180);
}
.button_for_turn_back {
    background: url(../img/crest.png) no-repeat;
    background-size: contain;
    background-position-y: 6px;
}
.button_for_search {
    background: url(../img/ok.png) no-repeat;
    background-size: contain;
    background-position-y: 6px;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
    background-color: #e9ecef;
}
/*input:focus {*/
/*    border: 1px solid black;*/
/*    border-color: black;*/
/*    border-radius: 5px;*/
/*    box-shadow: black;*/
/*    blackground: black;*/
/*}*/
INPUT.text {
    border: 1px solid yellow; /* Исходная рамка вокруг поля */
    width: 80%; /* Ширина поля */
}
INPUT.text:focus {
    border: 1px solid red; /* Рамка при получении фокуса */
}
.button_for_turn_back, .button_for_search {
    border-radius: 5px;
}
.button_for_turn_back:hover, .button_for_search:hover, .button_for_turn_back:active, .button_for_search:active {
    box-shadow: 0 0 0 0.2rem rgb(225, 225, 225);
}















