/* navbar new*/
nav {
    background: linear-gradient(to right, #beaea4 65%, #d9ccc0 35%);
}

body{
    background-color: #beada3;
}

.navbar_logo {
    max-width: 220px;
    margin-top: 1.5rem;
}

.navbar_list_of_navigations {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
}

.navbar_list_of_navigations li {
    display: inline;
    color: #e4dcd7
}

.navbar_list_of_navigations li:last-child {
    color: #af9286
}

.navbar_block_for_social_imgs {
    word-spacing: 5px;
}

.navbar_social_img {
    margin-top: 15px;
    max-width: 20px;
}

.navbar_info {
    color: #b19589;
    opacity: 0.8;
    font-size: 15pt;
}

.navbar_white_line {
    width: 100%;
    height: 0px;
}

.navbar_white_line img {
    width: 100%;
}

#home_catalog {
    background: linear-gradient(to right, #beaea4 65%, #d9ccc0 35%);
}

.home_catalog_text {
    font-family: 'hello_january';
    color: #ffffff;
    font-size: 36pt;
}

.home_catalog_button {
    background-color: #beaea4;
    border: 2px #ece3db solid;
    color: white;
    width: 13rem;
    font-size: 16pt;
    margin-left: 20%;
    margin-top: 2rem;
}

.home_catalog_img {
    max-width: 50vw;
}

.home_catalog_white_line {
    width: 100%;
    height: 0px;
    position: relative;
    top: -12px;
}

.home_catalog_white_line img {
    width: 100%;
}

#home_about {
    background-color: #beada3;
}

.home_about_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 40pt;
}

.home_about_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0;
    left: 35px;
    color: #92867a;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

#home_about p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 15pt;
}

#home_about p:first-child {
    margin-top: 1.5rem;
}

#home_our_advantages {
    background-color: #d9ccc1;
}

.home_our_advantages_title {
    font-family: 'hypatia_sans_pro';
    color: #af9286;
    position: relative;
    font-size: 40pt;
}

.home_our_advantages_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 35px;
    color: white;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

.home_our_advantages_list {
    margin-top: 10rem;
}

.home_our_advantages_list li {
    font-size: 20pt;
}

.home_our_advantages_list li img {
    max-width: 75px
}

.home_our_advantages_list li:nth-child(odd) {
    color: white;
    opacity: 0.8;
}

.home_our_advantages_list li:nth-child(even) {
    color: #af9286;
    opacity: 0.8;
}

#home_question {
    background-color: #d8ccc0;
}

.home_question_title {
    font-family: 'hypatia_sans_pro';
    color: #af9286;
    position: relative;
    font-size: 40pt;
}

.home_question_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 200px;
    color: white;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

.home_question_input_text {
    height: 40px;
    width: 50vw;
    background-color: #d8ccc0;
    border: 2px solid #ffffff;
    color: #c1aa9e
}

.home_question_input_text::placeholder {
    color: #c1aa9e;
}

.home_question_input_text + input[type=submit] {
    height: 40px;
    width: 160px;
    color: #c1aa9e;
    background-color: #d9ccc1;
    border: 2px white solid;
}

#home_contacts {
    background-color: #beaea4;
    position: relative
}

.home_contacts_block_for_info {
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 50px;
    height: 65%;
    width: 40vw;
    background-color: #beaea4;
}

.home_contacts_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 32pt;
    z-index: 1;
}

.home_contacts_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 125px;
    color: #92867a;
    z-index: 1;
    font-size: 40pt;
    opacity: 0.8;
}

.home_contacts_info_list {
    color: white;
    font-family: 'hypatia_sans_pro';
}

.home_contacts_info_list li span:first-child {
    opacity: 1.0;
    color: #ffffff;
    font-weight: 800;
}

.home_contacts_info_list li span:last-child {
    opacity: 0.8;
}

.home_contacts_info_list li {
    margin-top: 0.7rem;
}

footer {
    background-color: #beaea4;
}

.footer_left_info {
    color: #ebe1d9;
}

.footer_left_info p {
    font-size: 10pt;
}

.footer_search {
    border: 2px solid white;
    background-color: #beaea4;
}

.footer_search::placeholder {
    color: #ebe1d9

}

.footer_navigation_list {
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 0.8;
}

.footer_navigation_list li {
    display: inline;
    font-family: 'hypatia_sans_pro';
    font-size: 14pt;
}

.footer_list_for_images li {
    display: inline;
}

.footer_list_for_images li img{
    max-width: 40px;
}

#gallery {
    background-color: #beada3;
    text-align: center;
}

.gallery_toggle_block_for_filter {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.gallery_catalog_white_bot_line, .gallery_catalog_white_top_line {
    width: 100%;
    height: 0;
    position: relative;
}

.gallery_catalog_white_top_line {
    top: -35px;
}

.gallery_catalog_white_bot_line {
    top: 0;
}

.gallery_catalog_white_top_line img, .gallery_catalog_white_bot_line img {
    width: 100%;
}

.gallery_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 40pt;
    margin-bottom: 0;
}

.gallery_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0;
    left: 44%;
    color: #92867a;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

#gallery_filter{
    background-color: #b09b90;
    text-align: center;
}

.gallery_filter_title {
    display: inline;
    font-family: 'hypatia_sans_pro';
    font-size: 19pt;
    color: white;
    opacity: 0.8;
}

.gallery_filter_img {
    width: 44px;
    position: relative;
    top: -6px;
}

.gallery_block_for_filter {
    display: none;
    margin-bottom: 1.5rem;
}

.gallery_filter_list {
    list-style-position: inside;
    -moz-column-count: 4; /* Firefox */
    -webkit-column-count: 4; /* Safari and Chrome */
    column-count: 4;
}

.gallery_filter_title_for_list{
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 16pt;
}

/*Меню с фильтром */

.gallery_items_in_filter_menu li {
    color: white;
    opacity: 0.8;
}

.gallery_drop_filter_menu {
    background: #f0f0f0;
    width: 100%;
    height: 31px;
}

.gallery_items_in_scroll_filter_menu {
    height: 150px; /* высота нашего блока */
    width: 75%;
    font-size: 14pt;
    overflow-y: scroll; /* прокрутка по вертикали */
    color: white;
}
.gallery_items_in_scroll_filter_menu::-webkit-scrollbar-track {
  border: 1px solid white;
  padding: 2px 0;
  background-color: white;
}

.gallery_items_in_scroll_filter_menu::-webkit-scrollbar {
  width: 5px;
}

.gallery_items_in_scroll_filter_menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #a3867a;
  background-color: #a0897d;
  border: 1px solid #a0897d;
}
.gallery_items_in_scroll_filter_menu li {
    opacity: 0.8;
}

.gallery_filter_cost_block {
    display: inline-block;
    position: relative;
    left: 20%;
}

.gallery_filter_cost_block_title {
    color:white;
    opacity: 0.8;
    font-size: 16pt;
}

.gallery_filter_cost_range_1, .gallery_filter_cost_range_2 {
    font-size: 14pt;
    display:inline;
    width: 35%;
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
}

.gallery_filter_cost_range_1:focus, .gallery_filter_cost_range_2:focus {
    outline: none;
}

.gallery_filter_cost_range_1::placeholder, .gallery_filter_cost_range_2::placeholder {
    color: white;
    opacity: 0.8;
}

.gallery_filter_cost_range_1 {
        margin-right: 2rem
}

.gallery_filter_search_block {
    display: inline-block;
    position: relative;
    left: 35%;
}

#gallery_filter_submit {
    cursor: pointer;
    position: relative;
    left: 70%;
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
    width: 120px;
    height: 30px;
        text-align: center;
    font-size: 14pt;

}

.gallery_filter_search_input {
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
    font-size: 14pt;
}

.gallery_filter_search_input:focus {
    outline: none;
}

.gallery_filter_search_input::placeholder {
    color: #ebe1d9;
    position: relative;
    top:2px;
}












.gallery_place_for_card {
    padding-left: 5px;
    padding-right: 5px;
}
.gallery_card_body {
    background-color: #beaea4;
    border: none;
    color: white;
    font-family: 'hypatia_sans_pro';
}

.gallery_card_body:hover, .gallery_card_body:focus {
    box-shadow: 0 0 3px white;
    transition: 0.5s;
}

.gallery_card_body h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    opacity: 0.6;
    font-size: 12pt;
}

.gallery_card_body h2 {
    opacity: 0.6;
    font-size: 12pt;
}

.gallery_card_body .card-text {
    font-size: 12pt;
}


.btn-for-product {
    position: absolute;
    bottom: 10px;
    left: 74px;
}

.gallery_card_img {
    max-width: 100%;
}
.gallery_card_button {
    background-color: #beaea4;
    border: 2px #ece3db solid;
    color: white;
    font-size: 14pt;
    opacity: 0.8;
    padding: 7px 10px 0 10px;
}

.gallery_card_button:hover {
    color: white;
    text-decoration: none;
    background-color: #c1a99b;
    transition: 0.5s;
}
/*navbar last*/
h2, h3 {
    font-family: 'antiqua';
}

ul li {
    list-style: none;
    /*    !*display: inline;*!*/
}

h3 {
    margin-bottom: 2rem;
    font-size: 18pt;
    height: 30px;
}

.top_navbar {
    border-bottom: 2px double #d3cece;
    padding-bottom: 5px;
}

.main_search {
    position: relative;
    top: 30%;
    left: 25%;
    width: 16vw;
    height: 53px;
    border: 2px double #9a9494;
    opacity: 0.6;
    box-shadow: none;
}

.main_search::placeholder {
    padding-left: 10px;
    font-size: 16pt;
}

.main_img {
    max-height: 120px;
}

.main_name_of_shop {
    cursor: pointer !important;
    font-family: 'segoe';
    font-size: 23pt;
    color: #b053ed;

}

.nav-text {
    font-size: 14pt;
    font-family: 'antiqua';
}

.imgNav_icons_for_messenger {
    max-height: 50px;
}

.imgNav_icons_for_inst {
    max-height: 64px;
    margin-left: 2.5rem;
}

.every_day {
    opacity: 0.6;
    margin-top: 0.4rem;
}

.img_phone {
    max-height: 28px;
}

.fixed_nav {
    background-color: white;
    border-bottom: 2px double #d3cece;
}

.fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    overflow: hidden;
    padding-top: 1rem !important;
}

.fix + header {
    padding-top: 55px;
}

.item_in_fixed_nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem 0 10rem;
}

.item_in_fixed_nav li {
    font-family: 'antiqua';
    font-size: 16pt;
}

.fixed_nav_low_width {
    display: none;
}

@media (max-width: 1919px) {
    item_in_fixed_nav li {
        font-size: 14pt;
        padding: 0 7rem 0 7rem;
    }
}

@media (max-width: 992px) {
    .main_search {
        width: 45vw;
        margin-top: 1.5rem !important;
    }

    .item_in_fixed_nav li {
        font-size: 12pt;
    }

    .fix + header {
        padding: 50px;
    }
}

@media (max-width: 850px) {
    .item_in_fixed_nav {
        padding: 0 5rem 0 5rem;
    }
}

@media (max-width: 760px) {
    .item_in_fixed_nav {
        padding: 0 2.5rem 0 2.5rem;
    }

    .item_in_fixed_nav li {
        font-size: 10pt;
    }
}

@media (max-width: 575px) {
    .fixed_nav_low_width {
        display: none;
    }

    .fixed_nav {
        border: none;
    }

    .fixed_nav_low_width.fixed_nav_low_width_up_down {
        display: block;
    }

    .item_in_fixed_nav {
        display: none;
        margin-bottom: 0 !important;
        padding: 0;
        text-align: center;
    }

    .item_in_fixed_nav li {
        margin-top: 5px;
    }

    .fixed_nav_low_width {
        display: inline-block;
        text-align: center;
        /*margin-bottom: 1rem;*/
        width: 100%;
        border-bottom: 2px solid #d3cece;
    }

    .fixed_nav_low_width:after, .fixed_nav_low_width:before {
        position: absolute;
        top: 500px;
        right: 20px;
        content: '';
        height: 2px;
        width: 23px;
        opacity: 1;
        background-color: rgba(148, 148, 148, 1);
        transition: 0.3s;
    }

    .fixed_nav_low_width_up_down:before {
        transform: rotate(90deg);
        transition: 0.5s;
    }

    .fixed_nav_low_width:hover::after, .fixed_nav_low_width:hover::before {
        opacity: 1;
    }
}

/*end of navbar section*/

#main, #about, #catalog, #advantages, #contacts {
    border-bottom: 2px double #d3cece;;
}

#about, #advantages {
    background-color: #e8d5f9
}

.row_vintage_card {
    height: 337px;
    width: 1534px;
    /*1534 - 1258 - 1041*/
    overflow: hidden;
    position: relative;
}

.slider_vintage_card {
    position: absolute;
    display: flex;
    left: 0;
    padding: 0;
}

@media (max-width: 1919px) {
    .row_vintage_card {
        width: 1258px;
    }
}

@media (max-width: 1060px) {
    .row_vintage_card {
        width: 834px;
    }
}

@media (max-width: 880px) {
    .row_vintage_card {
        width: 624px;
    }
}

@media (max-width: 664px) {
    .row_vintage_card {
        width: 416px;
    }
}

@media (max-width: 480px) {
    .row_vintage_card {
        width: 208px;
    }

    .sliderBlock {
        width: 65px;
    }
}

.left_vintage_slide, .right_vintage_slide {
    cursor: pointer !important;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    top: 135px;
    z-index: 500;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.left_vintage_slide {
    background: url(../img/leftbutton_gray.png);
    background-size: contain;
    left: 0;
}

.right_vintage_slide {
    background: url(../img/rightbutton_gray.png);
    background-size: contain;
    right: 0;
}

.right_vintage_slide:hover, .left_vintage_slide:hover {
    opacity: .4;
}

.left_vintage_slide:active, .right_vintage_slide:active {
    opacity: .3;
}

.rowCard {
    height: 337px;
    width: 1534px;
    /*1534 - 1258 - 1041*/
    overflow: hidden;
    position: relative;
}

.SliderCard {
    position: absolute;
    display: flex;
    left: 0;
    padding: 0;
}

@media (max-width: 1919px) {
    .rowCard {
        width: 1258px;
    }
}

@media (max-width: 1060px) {
    .rowCard {
        width: 834px;
    }
}

@media (max-width: 880px) {
    .rowCard {
        width: 624px;
    }
}

@media (max-width: 664px) {
    .rowCard {
        width: 416px;
    }
}

@media (max-width: 480px) {
    .rowCard {
        width: 208px;
    }

    .sliderBlock {
        width: 65px;
    }
}

ul.rowCards {
    position: relative;
    display: flex;
    padding: 0;
}

.leftSlideCard, .rightSlideCard {
    cursor: pointer !important;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    top: 135px;
    z-index: 500;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.leftSlideCard {
    background: url(../img/leftbutton_gray.png);
    background-size: contain;
    left: 0;
}

.rightSlideCard {
    background: url(../img/rightbutton_gray.png);
    background-size: contain;
    right: 0;
}

.rightSlideCard:hover, .leftSlideCard:hover {
    opacity: .4;
}

.leftSlideCard:active, .rightSlideCard:active {
    opacity: .3;
}

.text_for_advantages {
    font-family: 'gothic';
    font-size: 14pt;
}

.img_for_advantages {
    max-height: 75px;
    margin-bottom: 1rem;
}

.text_for_contacts {
    font-size: 16pt;
    font-family: gothic;
}

.main_name_of_shop_in_footer {
    font-size: 18pt;
}

.footer-text {
    font-family: 'antiqua';
    font-size: 14pt;
}

.always_text_in_footer {
    font-family: 'antiqua';
    color: #b053ed;
    font-size: 18pt;
}

.can_write_us_in_footer {
    font-size: 14pt;
    font-family: 'gothic';

}

.number_in_footer {
    font-family: 'gothic';
    font-size: 16pt;
}

/*maybe need to delete*/
@media (max-width: 600px) {
    .navbarli {
        width: 400px;
    }

    .rightNav {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .navbarli {
        width: 240px;
    }

    .rightNav {
        width: 240px;
    }
}

h6 {
    font-size: 10pt;
    font-weight: normal;
}

ul {
    list-style: none;
}

/* конец navbar */
/* слайдер */

.slider {
    position: relative;
    overflow: hidden;
    /*height: 600px;*/
    width: 80vw;
}

.sliderBlock {
    cursor: pointer !important;
    opacity: .6;
    width: 100px;
    height: 3px;
    background-color: gray;
    display: inline-block;
}

.showBlock {
    opacity: 1 !important;
}

.image {
    left: 80vw;
    position: absolute;
    /*width: 60vw;*/
    /*height: 600px;*/
    width: 80vw;
    height: auto;
}

.showImage {
    left: 0;
    z-index: 3;
}

.sliderBlockList {
    text-align: center;

}

.sliderBlockList li {
    display: inline; /* Отображать как строчный элемент */
}

.leftButton, .rightButton {
    cursor: pointer !important;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    top: 282.5px;
    z-index: 500;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: .8;
}

.rightButton {
    background: url(../img/rightbutton.png);
    background-size: contain;
    right: 1vw;
}

.leftButton:hover, .rightButton:hover {
    opacity: .4;
}

.leftButton:active, .rightButton:active {
    opacity: .3;
}

.leftButton {
    background: url(../img/leftbutton.png);
    background-size: contain;
    left: 1vw;
}

/*Конец Слайдера */
/* секция карточек */
.galleryCard {
    width: 50px;
}
/* конец секции карточек */
/* product.html */
.product_block_for_images {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: end;
    overflow: hidden;
    max-width: 350px;
    height: 350px;
    margin-left: 50px;
}

.product_image_in_block {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    max-width: 350px;
    opacity: 0;
}

.product_current_image {
    opacity: 1;
    z-index: 2;
}

.product_circle_block {
    background: black;
    z-index: 3;
    margin-top: 330px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 0.3;
}

.product_current_circle {
    opacity: 0.8;
}

.product_slide_image_left, .product_slide_image_right {
    cursor: pointer !important;
    z-index: 3;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    top: 135px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.product_slide_image_left {
    background: url(../img/leftbutton_gray.png);
    background-size: contain;
    left: 0;
}

.product_slide_image_right {
    background: url(../img/rightbutton_gray.png);
    background-size: contain;
    right: 0;
}

ul.leaders li {
    clear: both;
    margin-bottom: 22px;
}

ul.leaders li span:first-child {
    float: left;
    padding: 0 .4em 0 0;
    margin: 0;
}

ul.leaders li span + span {
    float: right;
    padding: 0 0 0 .4em;
    margin: 0;
}

ul.leaders li:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 1em;
    border-bottom: 1px dotted;
}

.temp_img {
    max-width: 350px;
    /*margin-left: 50px;*/
}

/* end of product.html */

/*gallery.html*/
.gallery_filters_form {
    background-color: rgba(227, 227, 227, 0.53);
    border-radius: 5px;
}


/*checkboxstyle*/
/*
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
.checkbox:disabled+label::before {
    background-color: #e9ecef;
}
*/


/*end of gallery.html*/