ul li {
    list-style: none;
}
nav {
    background: linear-gradient(to right, #beaea4 65%, #d9ccc0 35%);
}

body {
    background-color: #beada3;
}

.cant_scroll {
    overflow-y: hidden;
}

nav .navbar {
    font-size: 15pt;
}

nav img.navbar_mobile_logo {
    width: 3rem;
}

@media (max-width: 350px) {
    nav .navbar {
        font-size: 11pt;
    }

    nav img.navbar_mobile_logo {
        width: 2.2rem;
    }

    .navbar-toggler {
        padding: 0.125rem 0.5rem;
    }

    .navbar-toggler-icon {
        width: 1.4rem;
        height: 1.4rem;
    }
}

 @keyframes bugfix {
	 from {
		 padding: 0;
	}
	 to {
		 padding: 0;
	}
}
 @-webkit-keyframes bugfix {
	 from {
		 padding: 0;
	}
	 to {
		 padding: 0;
	}
}
 #navbar_toggler_button {
	 padding: 26px 11px;
	 z-index: 5;
	 cursor: pointer;
	 user-select: none;
}
 #navbar_toggler_button span {
	 height: 4px;
	 width: 35px;
	 border-radius: 2px;
	 background-color: white;
	 position: relative;
	 display: block;
	 transition: all 0.2s ease-in-out;
}
 #navbar_toggler_button span:before {
	 top: -10px;
	 visibility: visible;
}
 #navbar_toggler_button span:after {
	 top: 10px;
}
 #navbar_toggler_button span:before, #navbar_toggler_button span:after {
	 height: 4px;
	 width: 35px;
	 border-radius: 2px;
	 background-color: white;
	 position: absolute;
	 content: "";
	 transition: all 0.2s ease-in-out;
}

#navbar_toggler_button:hover span, #navbar_toggler_button:hover span:before, #navbar_toggler_button:hover span:after {
	 background: #333332;
}

#navbar_toggler {
	 display: none;
}

#navbar_toggler:checked ~ #mobile_main_menu {
	 visibility: visible;
}

#navbar_toggler:checked ~ #navbar_toggler_button:hover span, #navbar_toggler:checked ~ #navbar_toggler_button span {
	 background: transparent;
}

#navbar_toggler:checked ~ #navbar_toggler_button span:before {
	 transform: rotate(45deg) translate(7px, 7px);
	 opacity: 1;
}

#navbar_toggler:checked ~ #navbar_toggler_button span:after {
	 transform: rotate(-45deg) translate(7px, -7px);
}

#mobile_main_menu {
    height: 100vh;
    width: 100vw;
    background: #d9ccc0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

#mobile_main_menu.active {
	 visibility: visible;
}

#mobile_main_menu ul {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column;
	 text-align: center;
	 height: 100vh;
	 padding-left: 0;
	 list-style-type: none;
}

#mobile_main_menu ul li {
	 padding: 1em;
}

#mobile_main_menu ul li a {
    color: #776a5e;
    text-decoration: none;
    font-size: 1.5em;
}
 #mobile_main_menu ul li a:hover {
	 color: #333332;
}


.navbar_logo {
    max-width: 300px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.navbar_list_of_navigations {
    display: flex;
    justify-content: space-between;
    font-size: 25pt;
}

.navbar_list_of_navigations li a {
    color: #e4dcd7;
}

.navbar_list_of_navigations li:last-child a {
    color: #af9286
}

.navbar_list_of_navigations li a:hover, .navbar_list_of_navigations li a:focus {
    color: white;
}


.navbar_block_for_social_imgs {
    word-spacing: 5px;
}

.navbar_social_img {
    margin-top: 15px;
    max-width: 40px;
}

.navbar_block_for_social_imgs a:hover img{
    max-width: 50px;
    margin-top: 5px;
}

.navbar_info {
    color: #b19589;
    opacity: 0.8;
    font-size: 20pt;
}

.navbar_white_line {
    width: 100%;
    height: 0px;
    position: relative;
    z-index: 2;
    top: -11px;
}

@media (max-width: 1605px) {
    .navbar_logo {
        max-width: 220px;
        margin-left: 0;
    }

    .navbar_list_of_navigations {
        font-size: 21pt;
    }

    .navbar_info {
        font-size: 18pt;
    }

    .navbar_social_img {
        max-width: 35px;
    }

    .navbar_block_for_social_imgs a:hover img{
        max-width: 45px;
    }
}

@media(max-width: 1300px) {
        .navbar_info {
            font-size: 16pt;
        }
}

@media (max-width: 1024px) {
    .navbar_list_of_navigations {
        font-size: 16pt;
    }

    .navbar_info {
        font-size: 12pt;
    }

    .navbar_social_img {
        max-width: 25px;
    }
    .navbar_block_for_social_imgs a:hover img{
        max-width: 35px;
        margin-top: 0px;
    }
}

@media (max-width: 810px) {
    .navbar_list_of_navigations {
        font-size: 12pt;
    }

    .navbar_info {
        font-size: 9pt;
    }

    .navbar_social_img {
        max-width: 25px;
    }
    .navbar_block_for_social_imgs a:hover img{
        max-width: 35px;
    }

    .navbar_logo {
        max-width: 175px;
    }
}

.navbar_white_line img {
    width: 100%;
}

#home_catalog {
    background: linear-gradient(to right, #beaea4 65%, #d9ccc0 35%);
}

.home_catalog_text {
    font-family: 'hello_january';
    color: #ffffff;
    font-size: 52pt;
    text-align: center;
}

.home_catalog_button {
    background-color: #beaea4;
    border: 2px #ece3db solid;
    color: white;
    width: 20rem;
    font-size: 20pt;
    margin-top: 2rem;
    outline: none;
    padding: 9px;
    cursor: pointer;
    text-align: center;
}

.home_catalog_button:focus {
    outline: none;
}

.home_catalog_button:hover {
    outline: none;
    background-color: #a79488;
    border-color: #ece3db;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.home_catalog_button:active {
    background-color: #a18370;
}

.home_catalog_img {
    max-width: 50vw;
}

.home_catalog_white_line {
    width: 100%;
    height: 0px;
    position: relative;
    top: -12px;
}

.home_catalog_white_line img {
    width: 100%;
}

@media (max-width: 1605px) {
    .home_catalog_text {
        font-size: 40pt;
    }

    .home_catalog_button {
        width: 16rem;
        font-size: 18pt;
        padding: 8px;
    }
}

@media (max-width: 1300px) {
    .home_catalog_button {
        width: 13rem;
        font-size: 15pt;
        padding: 4px;
    }
}

@media (max-width: 1030px) {
    .home_catalog_text {
        font-size: 30pt;
    }
}

@media (max-width: 810px) {
    .home_catalog_text {
        font-size: 20pt;
    }

    .home_catalog_button {
        width: 9rem;
        font-size: 10pt;
    }
}

#home_about {
    background-color: #beada3;
}

.home_about_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 52pt;
}

.home_about_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0;
    left: 35px;
    color: #92867a;
    z-index: 1;
    font-size: 60pt;
    opacity: 0.8;
}

#home_about p {
    color: #ffffff;
    opacity: 0.8;
    font-size: 15pt;
}

#home_about p:first-child {
    margin-top: 1.5rem;
}

@media (max-width: 1605px) {
    .home_about_title {
        font-size: 46pt;
    }

    .home_about_title span {
        font-size: 54pt;
    }
}

@media (max-width: 1030px) {
    .home_about_title {
        font-size: 28pt;
    }

    .home_about_title span {
        font-size: 36pt;
    }
}

#home_our_advantages {
    background-color: #d9ccc1;
}

.home_our_advantages_title {
    font-family: 'hypatia_sans_pro';
    color: #af9286;
    position: relative;
    font-size: 52pt;
}

.home_our_advantages_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 35px;
    color: white;
    z-index: 1;
    font-size: 60pt;
    opacity: 0.8;
}

.home_our_advantages_list li img {
    max-width: 75px
}

.home_our_advantages_list li:nth-child(odd) {
    color: white;
    opacity: 0.8;
}

.home_our_advantages_list li:nth-child(even) {
    color: #af9286;
    opacity: 0.8;
}

.home_our_advantages_list {
    margin-top: 7rem;
}

.home_our_advantages_list li {
    font-size: 30pt;
    margin-bottom: 2.5rem;
}

@media (max-width: 1605px) {
    .home_our_advantages_title {
        font-size: 48pt;
    }

    .home_our_advantages_title span {
        font-size: 54pt
    }

    .home_our_advantages_list {
        margin-top: 3.5rem;
    }

    .home_our_advantages_list li {
        font-size: 25pt;
        margin-bottom: 1rem;
    }
}

@media (max-width: 1400px) {
    .home_our_advantages_title {
        font-size: 36pt;
    }

    .home_our_advantages_title span {
        font-size: 44pt
    }

    .home_our_advantages_list {
        margin-top: 4.5rem;
    }

    .home_our_advantages_list li {
        font-size: 18pt;
        margin-bottom: 0;
    }
}

@media (max-width: 1030px) {
    .home_our_advantages_title {
        font-size: 28pt;
    }

    .home_our_advantages_title span {
        font-size: 36pt
    }

    .home_our_advantages_list {
        margin-top: 3rem;
    }

    .home_our_advantages_list li {
        font-size: 16pt;
        margin-bottom: 0;
    }

    .home_our_advantages_list li img {
        max-width: 60px
    }
}

#home_question {
    background-color: #d8ccc0;
}

.home_question_white_line {
    width: 100vw;
    height: 0px;
    position: relative;
    top: -13px;
}

.home_question_title {
    font-family: 'hypatia_sans_pro';
    color: #af9286;
    position: relative;
    font-size: 40pt;
}

.home_question_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 200px;
    color: white;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

.home_question_button {
    background-color: #d8ccc0;
    border: 2px #ece3db solid;
    color: #af9286;
    width: 20rem;
    font-size: 20pt;
    margin-top: 2rem;
    outline: none;
    padding: 4px;
    cursor: pointer;
    text-align: center;
}

.home_question_button:focus {
        outline: none;

}

.home_question_button:hover {
    outline: none;
    background-color: #beaea4;
    border-color: #ece3db;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

.home_question_button:focus:active {
    background-color: #beaea4;
}

@media (max-width: 1300px) {
    .home_question_button {
        width: 13rem;
        font-size: 15pt;
    }
}

@media (max-width: 1030px) {
    .home_question_title {
        font-size: 32pt
    }

    .home_question_title span {
        font-size: 40pt;
    }
}

.spinner-border {
    display: none;
}

.home_question_sending {
    display: inline-block;
}

#home_contacts {
    background-color: #beaea4;
    position: relative
}

.home_contacts_block_for_info {
    position: absolute;
    opacity: 0.9;
    top: 0;
    right: 50px;
    height: 65%;
    width: 40vw;
    background-color: #beaea4;
}

.home_contacts_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 32pt;
    z-index: 1;
}

.home_contacts_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0px;
    right: 200px;
    color: #92867a;
    z-index: 1;
    font-size: 40pt;
    opacity: 0.8;
}

.home_contacts_info_list {
    color: white;
    font-family: 'hypatia_sans_pro';
}

.home_contacts_info_list li span:first-child {
    opacity: 1.0;
    color: #ffffff;
    font-weight: 800;
}

.home_contacts_info_list li span:last-child {
    opacity: 0.8;
}

.home_contacts_info_list li {
    margin-top: 0.7rem;
}

@media (max-width: 1605px) {
    .home_contacts_title span {
        font-size: 40pt;
        right: 150px;
    }
}

@media (max-width: 1400px) {
    .home_contacts_title span {
        font-size: 40pt;
        right: 110px;
    }
}

@media (max-width: 1030px) {
    .home_contacts_title {
        font-size: 32pt;
    }

    .home_contacts_title span {
        font-size: 40pt;
        right: 75px;
    }

    .home_contacts_info_list {
        /*font-size: 16pt;*/
    }
}

footer {
    background-color: #beaea4;
}

.footer_left_info {
    color: #ebe1d9;
}

.footer_left_info p {
    font-size: 22pt;
    margin-bottom: 2rem;
}

.footer_search {
    border: 2px solid white;
    background-color: #beaea4;
    width: 60%;
}

.footer_search::placeholder {
    color: #ebe1d9

}

.footer_logo {
    max-width: 300px;
}

.footer_navigation_list {
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 0.8;
}

.footer_navigation_list li {
    display: inline;
}

.footer_navigation_list li a {
    font-family: 'hypatia_sans_pro';
    font-size: 20pt;
    color: white;
}

.footer_mobile_navigation_list {
    color: white;
    opacity: 0.8;
    padding: 0;
}

.footer_mobile_navigation_list li {

}

.footer_mobile_navigation_list li a {
    font-family: 'hypatia_sans_pro';
    font-size: 12pt;
    color: white;
}

.footer_list_for_images li {
    display: inline;
}

.footer_list_for_images li img {
    max-width: 60px;
    margin-top: 10px;
}
.footer_list_for_images li a:hover img {
    max-width: 70px;
    margin: 0;
}


.footer_mobile_list_for_images {
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.footer_mobile_list_for_images li {
    display: inline;
}

.footer_mobile_list_for_images li img {
    max-width: 28px;
    /*margin-top: 10px;*/
}
.footer_mobile_list_for_images li a:hover img {
    max-width: 70px;
    margin: 0;
}

@media (max-width: 1605px) {
    .footer_left_info p {
        font-size: 16pt;
        margin-bottom: 1rem;
    }

    .footer_navigation_list li a {
        font-size: 14pt;
    }

    .footer_list_for_images li img {
        max-width: 40px;
    }
    .footer_list_for_images li a:hover img {
        max-width: 50px;
    }

    .footer_logo {
        max-width: 200px;
    }
}

@media (max-width: 1030px) {
    .footer_left_info p {
        font-size: 12pt;
        margin-bottom: 1rem;
    }

    .footer_navigation_list li a {
        font-size: 14pt;
    }

    .footer_list_for_images li img {
        max-width: 40px;
    }

    .footer_list_for_images li a:hover img {
        max-width: 50px;
    }


    .footer_logo {
        max-width: 200px;
    }
}

#gallery {
    background-color: #beada3;
    text-align: center;
}

.gallery_close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 99999;
}

.gallery_close:hover {
    opacity: 1;
}

.gallery_close:before, .gallery_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.gallery_close:before {
    transform: rotate(45deg);
}

.gallery_close:after {
    transform: rotate(-45deg);
}

.gallery_mobile_toggle_block_for_filter {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.gallery_mobile_block_for_filter {
    display: none;
    background: #beada3;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 5;
}

.gallery_toggle_block_for_filter {
    cursor: pointer;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.gallery_catalog_white_bot_line, .gallery_catalog_white_top_line {
    width: 100%;
    height: 0;
    position: relative;
}

.gallery_catalog_white_top_line {
    top: -35px;
}

.gallery_catalog_white_bot_line {
    top: 0;
}

.gallery_catalog_white_top_line img, .gallery_catalog_white_bot_line img {
    width: 100%;
}

.gallery_title {
    font-family: 'hypatia_sans_pro';
    color: #e6e0db;
    position: relative;
    font-size: 40pt;
    margin-bottom: 0;
}

.gallery_title span {
    font-family: 'hello_january';
    position: absolute;
    top: 0;
    left: 44%;
    color: #92867a;
    z-index: 1;
    font-size: 48pt;
    opacity: 0.8;
}

#gallery_filter {
    background-color: #b09b90;
    text-align: center;
}

.gallery_filter_title {
    display: inline;
    font-family: 'hypatia_sans_pro';
    font-size: 19pt;
    color: white;
    opacity: 0.8;
}

.gallery_filter_img {
    width: 44px;
    position: relative;
    top: -6px;
}

.gallery_block_for_filter {
    display: none;
    margin-bottom: 1.5rem;
}

.gallery_filter_list {
    list-style-position: inside;
    -moz-column-count: 4; /* Firefox */
    -webkit-column-count: 4; /* Safari and Chrome */
    column-count: 4;
}

.gallery_filter_title_for_list {
    text-align: center;
    color: white;
    opacity: 0.8;
    font-size: 16pt;
}

.gallery_filter_title_for_list.mobile {
    opacity: 1;
}

/*Меню с фильтром */

.gallery_items_in_filter_menu li {
    color: white;
    opacity: 0.8;
}

.gallery_drop_filter_menu {
    background: #f0f0f0;
    width: 100%;
    height: 31px;
}

.gallery_items_in_scroll_filter_menu {
    max-height: 150px; /* высота нашего блока */
    width: 75%;
    font-size: 14pt;
    overflow-y: scroll; /* прокрутка по вертикали */
    color: white;
}

.gallery_items_in_scroll_filter_menu.mobile {
    width: 100%;
}

.gallery_items_in_scroll_filter_menu.mobile.gallery_filter_makers {
    min-height: 150px;
}

.gallery_items_in_scroll_filter_menu.mobile ul {
    text-align: left;
}

.gallery_items_in_scroll_filter_menu::-webkit-scrollbar-track {
    border: 1px solid white;
    padding: 2px 0;
    background-color: white;
}

.gallery_items_in_scroll_filter_menu::-webkit-scrollbar {
    width: 5px;
}

.gallery_items_in_scroll_filter_menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #a3867a;
    background-color: #a0897d;
    border: 1px solid #a0897d;
}

.gallery_items_in_scroll_filter_menu li {
    opacity: 0.8;
}

.gallery_filter_cost_block {
    display: inline-block;
    position: relative;
    left: 20%;
}

.gallery_filter_cost_block.mobile {
    left: 0;
}

.gallery_filter_cost_block_title {
    color: white;
    opacity: 0.8;
    font-size: 16pt;
}

.gallery_filter_cost_block_title.mobile {
    opacity: 1;
    font-size: 16pt;
}

.gallery_filter_cost_range_1, .gallery_filter_cost_range_2 {
    font-size: 14pt;
    display: inline;
    width: 35%;
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
}

.mobile .gallery_filter_cost_range_1, .mobile .gallery_filter_cost_range_2 {
    text-align: center;
}

.gallery_filter_cost_range_1:focus, .gallery_filter_cost_range_2:focus {
    outline: none;
}

.gallery_filter_cost_range_1::placeholder, .gallery_filter_cost_range_2::placeholder {
    color: white;
    opacity: 0.8;
}

.gallery_filter_cost_range_1 {
    margin-right: 2rem
}

.gallery_filter_search_block {
    display: inline-block;
    position: relative;
    left: 35%;
}

.gallery_filter_search_block.mobile {
    position: initial;
}

#gallery_filter_submit {
    cursor: pointer;
    position: relative;
    left: 70%;
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 14pt;
}

.mobile #gallery_filter_submit {
    position: initial;
}

.gallery_filter_search_input {
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
    font-size: 14pt;
}

.mobile .gallery_filter_search_input {
    width: 60%;
}

.gallery_filter_search_input:focus {
    outline: none;
}

.gallery_filter_search_input::placeholder {
    color: #ebe1d9;
    position: relative;
    top: 2px;
}

.gallery_filter_maker_search {
    border: 2px solid white;
    background-color: #b09c90;
    color: white;
    opacity: 0.8;
    font-size: 14pt;
}

.gallery_filter_maker_search:focus {
    outline: none;
}

.gallery_filter_maker_search::placeholder {
    color: #ebe1d9;
    position: relative;
    top: 2px;
}

.mobile .gallery_filter_maker_search {
    width: 60%;
}

.gallery_place_for_card {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #beaea4;
    border: none;
    color: white;
    font-family: 'hypatia_sans_pro';
}

.gallery_place_for_card:hover, .gallery_place_for_card:focus {
    box-shadow: 0 0 3px white;
    z-index: 2;
    transition: 0.5s;
}

.gallery_place_for_card h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    opacity: 0.6;
    font-size: 12pt;
}

.gallery_place_for_card h2 {
    opacity: 0.6;
    font-size: 12pt;
}

.gallery_place_for_card .card-text {
    font-size: 12pt;
}

.gallery_card_img {
    max-width: 100%;
    min-width: 100%;
}

.gallery_ajax_sending {
    display: inline-block;;
}

.gallery_card_button {
    background-color: #beaea4;
    border: 2px #ece3db solid;
    color: white;
    font-size: 14pt;
    opacity: 0.8;
    padding: 10px 10px 0 10px;
    margin: 0.5rem 0 1rem 0;
}

.gallery_card_button:hover {
    color: white;
    text-decoration: none;
    background-color: #c1a99b;
    transition: 0.3s;
}

.gallery_download_new_cards {
    background-color: #beaea4;
    border: 2px #ece3db solid;
    color: white;
    font-size: 14pt;
    opacity: 0.8;
    padding: 7px 10px 0 10px;
}

.gallery_download_new_cards:hover {
    color: white;
    text-decoration: none;
    background-color: #c1a99b;
    transition: 0.5s;
}

#product {
    background-color: #d9ccc1;
    color: white;
}

.product_title {
    font-size: 22pt;
    opacity: 0.9;
    margin-bottom: 0;
    font-weight: bold;
}

.product_title_maker {
    font-size: 16pt;
    position: relative;
    opacity: 0.5;
    top: -6px;
    margin-bottom: 0;
}

.product_cost {
    font-size: 18pt;
    opacity: 0.9;
    font-weight: bold;
}

.product_volume {
    font-size: 16pt;
}

.product_description {
    margin-bottom: 0;
    font-size: 16pt;
}

.product_block_for_images {
    position: relative;
    justify-content: center;
    justify-items: end;
    overflow: hidden;
    max-width: 350px;
    height: 350px;
    margin-left: 50px;
    padding: 0;
}

.product_block_for_images li {
    display: inline-block;
    width: 10%;
}

.product_image_in_block {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    opacity: 0;
    transition: 1s;
}


.product_circle_block {
    position: absolute;
    bottom: 5px;
    background: black;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    opacity: 0.3;
    transition: 1s;
    z-index: 1;
}

.product_selected_image .product_circle_block {
    opacity: 0.8;
    transition: 1s;
}

.product_selected_image .product_image_in_block {
    opacity: 1;
    transition: 1s;
}

.product_slide_image_left, .product_slide_image_right {
    cursor: pointer !important;
    z-index: 3;
    position: absolute;
    display: block;
    transition: 0.3s ease;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    top: 135px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.product_slide_image_left {
    background: url(../img/leftbutton_gray.png);
    background-size: contain;
    left: 0;
}

.product_slide_image_right {
    background: url(../img/rightbutton_gray.png);
    background-size: contain;
    right: 0;
}

.product_clickable_images {
    padding: 0;
    text-align: center;

}

.product_clickable_images li{
    display: inline-block;
    margin: 0 0.25rem 0 0.25rem;
}

.product_clickable_image {
    opacity: 0.3;
    max-width: 50px;
    cursor: pointer;
    transition: 1s;
}

.product_selected_icon .product_clickable_image {
    opacity: 1;
    transition: 1s;
}