<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <!-- my CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Элитная парфюмерия</title>
  </head>
  <body style="font-family: 'hypatia_sans_pro'">
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}

    <!-- JQUERY -->
    <script src="{% static 'js/libs/jquery-3.4.1.js' %}"></script>
    <!-- my JS -->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap.js' %}"></script>
  </body>
</html>