{% load static %}
<footer class="container-fluid">
    <div class="row">
       <div class="col-lg-3 pl-5 pt-4 text-left footer_left_info">
           <p>+7(911)947-64-94</p>
           <p>Ежедневно с 11:00 до 20:00</p>
           <input class="footer_search" type="search" placeholder="Поиск по сайту">
        </div>
        <div class="col-lg-6 text-center mt-3">
            <p><img class="footer_logo" src="{% static 'img/Logo_white.png' %}"></p>
            <ul class="footer_navigation_list mt-4">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="/#home_about">О НАС</a></li>
                <li><a href="/gallery">КАТАЛОГ</a></li>
                <li><a href="/#home_contacts">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="col-lg-3 text-center pt-5">
            <ul class="footer_list_for_images">
                <li><img src="{% static 'img/telega_footer.png' %}"></li>
                <li><img src="{% static 'img/Inst_footer.png' %}"></li>
            </ul>
        </div>
    </div>
</footer>