{% load static %}
<footer class="container-fluid mt-4">
    <div class="row">
       <div class="col-lg-3 text-center">
              <img class=main_img src="{% static 'img/Лого.png' %}">
              <h2 class="main_name_of_shop main_name_of_shop_in_footer mb-0" href="/">Элитная парфюмерия</h2>
              <small class="footer-text">
                ароматный бутик
              </small>
        </div>
        <div class="col-lg-6 text-center mt-3">
            <p class="address_in_footer">г. Санкт-Петербург, пр. Ленинский, д. 90</p>
            <ul class="item_in_footer mt-4">
                <li>ГЛАВНАЯ</li>
                <li>О НАС</li>
                <li>КАТАЛОГ</li>
                <li>НАШИ ПРЕИМУЩЕСТВА</li>
            </ul>
        </div>
        <div class="col-lg-3 text-center">
            <p class="always_text_in_footer">Мы всегда на связи!</p>
            <p class="can_write_us_in_footer"><i><a style="color:black;" href="">Вы можете написать нам письмо</a></i>
                или
                <i><a style="color:black;" href="">позвонить по телефону</a></i></p>
            <p class="number_in_footer">+7(911)947-64-94</p>
        </div>
    </div>
</footer>