{% load static %}
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light mt-0 pr-0 pb-0 pt-0 mb-5">-->
<!--  <div class="col-md-4 texxxt pr-0">-->
<!--    Магазин элитной парфюмерии-->
<!--  </div>-->
<!--  <div class="col-md-5 pl-0 pr-0 text-center">-->
<!--    <a class="mr-5 texxxt">Главная</a>-->
<!--    <a class="mr-5 ml-5 texxxt">О нас</a>-->
<!--    <a class="mr-5 texxxt">Контакты</a>-->
<!--  </div>-->
<!--  <div class="col-md-3 texxxt text-right"><img style="max-height: 35px" src="{% static 'img/telephone.png' %}">8-999-999-99-99</div>-->

<!--</nav> &lt;!&ndash; navbar n&ndash;&gt;-->
<nav class="container-fluid pt-4 mb-4">
  <div class="row justify-content-xl-end justify-content-md-center">
    <div class="col-xl-3 col-md-8">
      <h2 class="ml-3" style="font-family:'Ritalin'; font-size: 22pt; color: #70919f">Магазин элитной парфюмерии</h2>
    </div>
    <div class="col-xl-3 col-md-4 text-center justify-content-lg-end" style="font-size: 15pt">
      <p><img style="max-height: 24px" src="{% static 'img/telephone.png' %}">+7(999)-900-90-99</p>
      <p><img style="max-height: 24px;" src="{% static 'img/mail.png' %}">vasha.po4ta@mail.ru</p>
    </div>
    <div class="col-xl-6 col-md-6 text-center mt-4" style="font-size: 15pt">
<!--      <div class="mynavbar">-->
        <ul class="navbarli ml-lg-5">
          <li>Главная</li>
          <li>О нас</li>
          <li>Наши предложения</li>
          <li>Контакты</li>
        </ul>
<!--      </div>-->
    </div>
  </div>
</nav>