{% load static %}
{% load user_agents %}
{% if request|is_mobile %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <input type="checkbox"  id="navbar_toggler" />
    <label for="navbar_toggler" class="navbar_toggler" id="navbar_toggler_button"><span class=""></span></label>
        Элитная парфюмерия
            <img src="{% static 'img/Main_Logo.png' %}" style="width: 50px;" class="navbar_mobile_logo d-inline-block align-top"
                 alt="">
      <div id="mobile_main_menu">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/">О нас</a></li>
          <li><a href="/gallery">Каталог</a></li>
          <li><a href="/">Контакты</a></li>
        </ul>
      </div>
    </nav>
    <div class="navbar_white_line"><img src="{% static 'img/Полоска.png' %}"></div>
{% else %}
    <nav class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 pl-5">
                <img class="navbar_logo" src="{% static 'img/Logo_white.png' %}">
            </div>
            <div class="col-12 col-sm-6 mt-5">
                <ul class="navbar_list_of_navigations">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/#home_about">О нас</a></li>
                    <li><a href="/gallery">Каталог</a></li>
                    <li><a href="/#home_contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-3 text-right pr-5">
                <div class="mt-3 navbar_block_for_social_imgs">
                    <a href="viber://chat?number=%2B9119476494"><img class="navbar_social_img"
                                                                     src="{% static 'img/viber-navbar.png' %}"></a>
                    <a href="https://api.whatsapp.com/send?phone=<number>"><img class="navbar_social_img"
                                                                                src="{% static 'img/whatsup-navbar.png' %}"></a>
                    <a href="https://t.me/perfume_elite_spb"><img class="navbar_social_img"
                                                                  src="{% static 'img/telega_navbar.png' %}"></a>
                    <a href="https://www.instagram.com/perfume_elite_spb/?hl=ru"><img class="navbar_social_img"
                                                                                      src="{% static 'img/Inst_navbar.png' %}"></a>
                </div>
                <p class="mt-4 navbar_info">+7(911)947-64-94<br>
                    Ежедневно с 11:00 до 20:00</p>
            </div>
        </div>
    </nav>
    <div class="navbar_white_line"><img src="{% static 'img/Полоска.png' %}"></div>
{% endif %}
