{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="home_catalog" class="pt-5">
        <div class="container-fluid">
            <div class="row pl-3">
                <div class="col-5 pl-5 text-center">
                    <p class="home_catalog_text">В нашем бутике имеется
                        уникальный выбор ароматов на любой вкус</p>
                    <a type="button" href="/gallery" class="home_catalog_button">КАТАЛОГ</a>
                </div>
                <div class="col-7">
                    <img class="home_catalog_img" src="{% static 'img/IMG_1388.jpg' %}">
                </div>
            </div>
        </div>
        <div class="home_catalog_white_line"><img src="{% static 'img/Полоска.png' %}"></div>
    </section>
    <section id="home_about" class="p-5">
        <h2 class="home_about_title">
            О НАС
            <span>
                О нас
            </span>
        </h2>
        <p>
            Мы на рынке более 20 лет. Довольные покупатели, разнообразный ассортимент, оригинальная и качественная продукция. </p>
        <p>
            Наше главное отличие от других магазинов парфюмерии – винтаж, лимитированные и редкие ароматы. Мы всегда в поисках интересных позиций. Коллекция нашего магазина постоянно меняется, пополняется новыми поступлениями.
        </p>
        <p>
             Также, мы принимаем заказы на интересующие вас ароматы. Для этого вы можете написать нам в соц. сетях или позвонить, чтобы уточнить цену и заказать товар. Заказ можно забрать в любое удобное для вас время. Мы работаем ежедневно с 11:00-20:00 без выходных. Оплата производится в магазине.
        </p>
    </section>
    <section id="home_our_advantages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-5 pl-0">
                    <img class="w-100" src="{% static 'img/IMG_1392.jpg' %}">
                </div>
                <div class="col-7 pt-5 pr-5">
                    <h2 class="text-right home_our_advantages_title">
                        НАШИ ПРЕИМУЩЕСТВА
                        <span>
                            Наши преимущества
                        </span>
                    </h2>
                    <ul class="home_our_advantages_list">
                        <li><img src="{% static 'img/ok-white.png' %}">
                            СКИДКА 5% ПОСТОЯННЫМ ПОКУПАТЕЛЯМ
                        </li>
                        <li><img src="{% static 'img/ok-beige.png' %}">
                            РАЗНООБРАЗНЫЙ ВЫБОР ПАРФЮМЕРИИ
                        </li>
                        <li><img src="{% static 'img/ok-white.png' %}">
                            БЛИЗКО ОТ МЕТРО
                        </li>
                        <li><img src="{% static 'img/ok-beige.png' %}">
                            ДОСТАВКА ПО ВСЕЙ РОССИИ
                        </li>
                        <li><img src="{% static 'img/ok-white.png' %}">
                            ДОСТУПНЫЙ СПОСОБ ОПЛАТЫ
                        </li>
                        <li><img src="{% static 'img/ok-beige.png' %}">
                            ПРИНИМАЕМ ЗАКАЗЫ НА ЛЮБЫЕ АРОМАТЫ
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="home_question_white_line"><img class="w-100" src="{% static 'img/Полоска.png' %}"></div>
    <section id="home_question" class="p-5 text-center">
        <h2 class="home_question_title">
            ВОЗНИКЛИ ВОПРОСЫ? НАПИШИ НАМ
            <span>
                Возникли вопросы?      Напиши нам
            </span>
        </h2>
        <form class="mt-5">
            <input class="home_question_input_text" type="text" placeholder="В данный момент не работает">
            <input type="submit">
        </form>
    </section>
    <section id="home_contacts">
        <div class="p-4 p-xl-5 mt-5 home_contacts_block_for_info">
            <h2 class="text-center home_contacts_title">
                КОНТАКТЫ
                <span>
                    Контакты
                </span>
            </h2>
            <ul class="home_contacts_info_list">
                <li><span>Адрес: </span><span>г. Санкт-Петербург, Трамвайный проспект</span></li>
                <li><span>Метро: </span><span>Ленинский проспект</span></li>
                <li><span>Режим работы: </span><span>Пн-вс, 11:00-20:00</span></li>
                <li><span>Телефон: </span><span>+7(911)947-64-94</span></li>
                <li><span>E-mail: </span><span>narva56@yandex.ru</span></li>
            </ul>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.741765450806!2d30.266107315761197!3d59.85342867593205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963aeeac072523%3A0xcb3651fbfefe6aca!2z0KLRgNCw0LzQstCw0LnQvdGL0Lkg0L_RgC4sIDE3INC60L7RgNC_0YPRgSAyLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk4MjE2!5e0!3m2!1sru!2sru!4v1600004297316!5m2!1sru!2sru" frameborder="0" style="width:100vw; height:500px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </section>
{% endblock content %}