{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="/upload_csv" id="upload_csv" method="post"> {% csrf_token %}
    {{ form }}
    <button id="button_for_upload_csv" type="submit">submit</button>
</form>
<header class="header" id="main" style="height: calc(80vw/1.9 + 18px)">
    <div class="container-fluid p-0 m-0 d-flex justify-content-center" style="height: calc(80vw/1.9)">
        <div class="row slider m-0">
            <ul class="p-0">
              <li>
                <div class="leftButton"></div>
                <img src="{% static 'img/IMG_1661.jpg'%}" class="image showImage" id="Slide1">
              </li>
              <li>
                <div class="rightButton"></div>
                <img src="{% static 'img/IMG_1671.jpg'%}" class="image" id="Slide2">
              </li>
              <li>
                <img src="{% static 'img/IMG_1745.jpg'%}" class="image" id="Slide3">
              </li>
              <li>
                <img src="{% static 'img/IMG_1699.jpg'%}" class="image" id="Slide4">
              </li>
            </ul>
        </div>
    </div><!-- img slider -->
    <div class="container">
        <ul class="sliderBlockList m-0 p-0">
          <li class="mr-2"><div class="showBlock sliderBlock"></div></li><li class="mr-2"><div class="sliderBlock"></div></li><li class="mr-2"><div class="sliderBlock"></div></li><li ><div class="sliderBlock"></div></li>
        </ul>
    </div><!--blocks for slider -->
</header> <!--slider -->

<h1 class="text-center w-100" id="about">О нас</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-justify" style="font-size: 18pt">
            Мы на рынке уже более 10 лет. Главное преимуществ нашего магазина - винтажные ароматы, лимитированная, редкая парфюмерия. Маловероятно, что вы найдёте такой особенный ассортимент парфюмерии в других магазинах. Мы всегда в поисках редких, уникальных ароматов. Коллекция нашего магазина постоянно обновляется.Также, мы совершаем заказы на интересующий вас аромат. Вы можете заказать абсолютно любой парфюм, а затем забрать его в удобное для вас время. Оплата производится в магазине.
        </div>
    </div>
</div> <!-- about text -->
<h1 class="text-center mt-5" id="bestseller">Бестселлеры</h1>
<div class="container-fluid m-auto p-0 d-flex justify-content-center rowCard" style="position: relative">
        <div class="leftSlideCard"></div>
        <div class="row rowCard">
            <ul class="SliderCard mt-1">
            {% for product in products_in_slider %}
                <li class="mr-1 ml-1">{% include 'landing/product_card.html' %}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="rightSlideCard"></div>
</div> <!--cards-->
<section>
    <h1 class="text-center mb-3" id="ourAdvantages">Наши преимущества</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5 mt-md-0 text-center"><img style="max-width: 60px" src="{% static 'img/sales.png' %}"><h3>Скидки</h3>
                <div class="text-justify">Для постоянных покупателей нашего парфюмерного магазина действует скидка 5%.</div>
            </div>
            <div class="col-md-4 mt-5 mt-md-0 text-center"><img style="max-width: 60px" src="{% static 'img/buyall.png' %}"><h3>Выбор продукции</h3>
                <div class="text-justify">У нас имеется большой выбор парфюмерии.<br>Также, в нашем магазине возможно осуществить заказ на интересующие вас ароматы. Нам важна репутация, поэтому мы несем ответственность за качество товара. Все ароматы являются оригинальными.</div>
            </div>
            <div class="col-md-4 mt-5 mt-md-0 text-center"><img style="max-width: 60px" src="{% static 'img/goodwork.png' %}"><h3>Быстро доставим продукцию</h3>
                <div class="text-justify">Заказ приходит в магазин в течении 5-6 дней.</div>
            </div>
            <div class="col-md-4 mt-5 text-center"><img style="max-width: 60px" src="{% static 'img/map.png' %}"><h3>Близко от метро</h3>
                <div class="text-justify">Мы находимся в 5 минутах от метро "Ленинский проспект" в ТЦ "Нарва"</div>
            </div>
            <div class="col-md-4 mt-5 text-center"><img style="max-width: 60px" src="{% static 'img/paypall.png' %}"><h3>Доступный способ оплатны</h3>
                <div class="text-justify">Вы можете оплатить безналичнм или начильным расчетом.</div>
            </div>
            <div class="col-md-4 mt-5 text-center"><img style="max-width: 60px" src="{% static 'img/everyday.png' %}"><h3>Работаем каждый день</h3>
                <div class="text-justify">мы работаем каждый день с 11 утра до 20:00 без вызодных. </div>
            </div>
        </div>
    </div>
</section> <!--ourAdvantages-->

<section class="mt-5"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1033.621809105536!2d30.267315042370917!3d59.853157019998136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963aeea944c37b%3A0xb18e7a13e10c27e8!2z0J7Rh9C60Lg!5e0!3m2!1sru!2sru!4v1586075688511!5m2!1sru!2sru" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></section>
{% endblock %}
