<div class="col-md-4 p-0 m-0 productCard">
    <a href="{% url 'product' productImage.product.id %}">
        <div class="card text-center cardforproduct">
            <div class="card-img-top"><img class="img-card" src="{{ MEDIA_URL }}{{ productImage.image.url }}"></div>
            <div class="card-body">
                <div class="card-title"><h1>{{ productImage.product.name }}</h1></div>
                <div class="card-text">{{ productImage.product.description }}</div>
                <div class="card-text"><h2>{{ productImage.product.cost }} р.</h2></div>
            </div>
        </div>
    </a>
</div>